@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HakgyoansimDunggeunmiso';
  src: url('/fonts/HakgyoansimDunggeunmisoTTF-B.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.logo-font {
  font-family: 'HakgyoansimDunggeunmiso', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 60px; /* Adjust based on actual header height */
}

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  height: 60px; /* Adjust based on actual nav height */
}

.content-container {
  padding-top: 60px; /* Match header height */
  padding-bottom: 64px; /* Match nav height */
  height: 100%;
}